@import "../variables";


.inputText {
  height: 25px;
  width: 250px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 20px;
  color: $myPurple;
}
.InputCheckbox {
  height: 25px;
  width: 25px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 20px;
  transition: 0.3s;
}

.InputCheckbox:active {
  transform: scale(0.5);
}

.myCheck {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 17px;
  color: $myBlue;
  font-weight: 500;
  letter-spacing: 1px;
}

.inputText::placeholder {
  //padding: 10px;
  font-size: 17px;
  color: #868686;
}
.InputSelect {
  height: 60px;
  width: 293px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 20px;
  color: $myPurple;

}

.label {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto", "sans-serif";
  letter-spacing: 1px;
  margin: 10px 0;
  color: #47b8e0;
}


.totalPrice {
  font-family: "Roboto", "sans-serif";
  color: #f8f1f1;
  font-size: 18px;
  background-color: $myTomato;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
  margin-left: 95px;
  border: none;


}

.btn {
  margin: 0 10px;
  background: $myPurple;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 19px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  margin-top: 16px;
  width: 300px;
  outline: none;
  transition: 0.3s;
  display: block;
  text-decoration: none;
  text-align: center;
}

.btn_small {
  background: $myBlue;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", "sans-serif";
}
.btn:active {
  transform: scale(0.9);
}
.buttons {
  .btn {
    width: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 250px;
}




