@import "../variables";
body {

}
.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../images/main-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

  .title {
    text-align: center;
    width: 219px;
    color: $myTomato;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    text-transform: none;
    margin-right: 40px;
    margin-top: 19px;
  }
}

.mainAllBoxes {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainRowBoxes {
  margin: 25px;
  display: flex;
  height: 170px;
  width: 300px;
  border-radius: 10px;
  box-shadow: $box-shadow;
  overflow: hidden;
  transition: 0.3s;
  text-decoration: none;



  .mainPlane {
    background-image: url("../../images/plane.jpg");
  }

  .mainBus {
    background-image: url("../../images/bus.jpg");
    background-position: -40px;
  }

  .mainCar {
    background-position: -94px;
    background-image: url("../../images/car.jpg");

  }
}
.mainRowBoxes:active {
  transform: scale(0.9);
}
.mainBoxImage {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 170px;

}

.mainBoxText {
  height: 100%;
  width: 130px;
  color: $myTomato;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 2px;
  background: white;

}

