@import "../variables";

//.totalPrice {
//  margin-top: 18px;
//  margin-left: 45px;
//}

.SingleHousing {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

    .content {
      color: white;
      width: 250px;
      background: #777777;
      padding: 15px 15px 15px 15px;
      border-radius: 10px;
      display: block;
      line-height: 30px;

      div {
        display: flex;
      }
    }

    .picto_bin {
      margin-left: 10px;
      border-radius: 10px;
      background-color: white;
      background-image: url("../../images/delete.svg");
      width: 56px;
      height: 56px;
      transition: 0.3s;

    }
    .picto_bin:active {
      transform: scale(0.9);
    }

    .picto_update {
      margin-right: 10px;
      display: block;
      background-image: url("../../images/day.svg");
      height: 30px;
      width: 30px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .picto_person {
      margin-right: 5px;
      display: block;
      background-image: url("../../images/person_price.svg");
      height: 30px;
      width: 30px;
      background-size: contain;
      background-repeat: no-repeat;
    }

  }



}


