@import "../variables";


.SelectedJourney {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sec_btn {
    font-size: 18px;
    text-align: center;
    width: 200px;
    letter-spacing: 1px;
    font-weight: 600;
    font-style: italic;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    padding: 18px 36px;
    background: $myTomato;
    border-radius: 20px;
    transition: 0.3s;
  }
  .sec_btn:active {
    transform: scale(0.9);
  }
  .delete {
    height: 100px;
    width: 100px;
    background-color: #47b8e0;
    display: flex;
    color: white;
    text-decoration: none;
  }
  .picto_bin {
    align-self: flex-end;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    background-image: url("../../images/delete.svg");
    width: 56px;
    height: 56px;
    transition: 0.3s;
    border: none;

  }
  .picto_bin:active {
    transform: scale(0.9);
  }
  .selected_container {
    width: 332px;
    background: white;
    margin: 10px;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    line-height: 30px;
    transition: 0.3s;
    color: $myTomato;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
  }
  .picto {
    top: 0;
    position: absolute;
    height: 30px;
    width: 30px;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .picto_car {
    background-image: url("../../images/car.svg");
  }

  .picto_bus {
    background-image: url("../../images/bus.svg");
  }

  .picto_plane {
    background-image: url("../../images/plane.svg");
  }

  .picto_distance {
    background-image: url("../../images/distance.svg");
    height: 56px;
    width: 240px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .picto_money {
    margin-right: 10px;
    display: block;
    background-image: url("../../images/money.svg");
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .picto_person {
    margin-right: 10px;
    display: block;
    background-image: url("../../images/person.svg");
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .picto_day {
    margin-right: 10px;
    display: block;
    background-image: url("../../images/day.svg");
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .last_line {
    display: flex;
    justify-content: space-between;
  }
  .single_element {
    display: flex;
    justify-content: center;
    align-items: center;
    }
  .second {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    position: relative;
  }
  .third {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-bottom: 15px;
    text-align: center;
    .from {
      //background: #47b8e0;
      width: 120px;
    }
    .destination {
      //background: #db47e0;
      width: 120px;
    }
  }
    .price,
    .days,
    .person {
      font-size: 24px;
    }
  }



