@import "./components/variables";

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #353535;

}
p {
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
//.mydiv {
//  color: white;
//  font-weight: bold;
//  text-transform: uppercase;
//  font-size: 10px;
//}

.btn {
  background: $myPurple;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 25px;
  margin-top: 16px;
  width: 100%;
}
.buttons {
  width: 300px;
}