@import "./components/variables";

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #353535;

}
p {
  color: #7e7e7e;
  font-style: italic;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
//.mydiv {
//  color: white;
//  font-weight: bold;
//  text-transform: uppercase;
//  font-size: 10px;
//}

